::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}
.disable-point {
    text-decoration: line-through;
}
body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  @include font-control($font-primary, 16px, 24px, 400);
  width: 100vw;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  background: #eee;
}
h1 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #000;
  text-align: center;
  font-size: 3em;
  line-height: 1.5em;
}
h2 {
  @include font-control($font-primary, 2em, 1.5em, 400);
  color: #333;
  margin: 15px 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
p {
  font-size: 1.1em;
    line-height: 1.5em;
    width: 86%;
    text-align: center;
    margin: 1em auto;
}
img {
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
.hidden {
    display: none;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
